.navbar {
    display: flex;

    -webkit-box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    -moz-box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    justify-content: space-between;
    background-color: rgb(237, 217, 255);
    padding: 20px;
    font-size: xx-large;
}

.contenido {
    display: grid;
    grid-template-areas:
        "sidebar sidebar think think think "
        "sidebar sidebar publicacion publicacion publicacion";
    margin-top: 50px;
    padding: 20px;
    -webkit-box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    -moz-box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    justify-content: space-between;
    background-color: rgb(237, 217, 255);
}

.contenido div {
    -webkit-box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    -moz-box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
    box-shadow: 38px 36px 18px -33px rgba(60, 0, 255, 1);
}
.publicacion {
    display: flex;
    justify-content: space-between;
    }
.publicacion div {
    border: 1px dotted;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

.navbar img {
    width: 100px;
}

.menu-icon {
    display: none;
    }

.sidebar {
    grid-area: sidebar;
}

.think {
    grid-area: think;
}

.publicacion {
    grid-area: publicacion;
}

.sidebar,
.think,
.publicacion {

    padding: 30px;
}


@media only screen and (max-width: 400px) {
    .menu-icon {
        display: block;

    }

    .avatar,
    .menu {
        display: none;
    }

    .contenido {
        background-color: rgb(237, 217, 255);
        display: flex;
        flex-wrap: wrap;
    }

    .invertido {
        flex-direction: column-reverse;
    }
}
